{% extends 'blog/base.html' %}
{% load static %}

{% block content %}

    <div class="container p-1">
        {% for article in object_list %}
            <div class="card m-2 p-1">
                <div class="card-head p-3">
                    <a href="{% url 'article-detail' article.id_slug %}">
                        {{ article }}
                    </a>
                    , {{ article.date|date:"d.m.Y" }}
                    {% if article.publish %}
                        <span class="badge bg-primary">Published</span>
                    {% else %}
                        <span class="badge bg-secondary">Not Published</span>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
