{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <!-- Head -->
        <div class="card p-4 m-3" style="border-radius: 20px">
            <h3>{{ object.title }}</h3>
            Published: {{ object.date|date:"d.m.Y" }}
            Author: The Blog Author  <!-- todo genereate from db -->
        </div>

        <!-- Content -->
        <div class="card p-4 m-3" style="border-radius: 20px">
            {{ object.content|safe }}
        </div>

        <!-- Comments -->
        <div class="card p-4 m-3" style="border-radius: 20px">
            <h5>Comments</h5>
        </div>

        {% for comment in object.blogcomment_set.all %}
            <div class="card p-4 m-3" style="border-radius: 20px">
                <div>{{ comment.timestamp_created|date:"d.m.Y" }} by {{ comment.created_by }}</div>
                {% if comment.hide %}
                    This comment is hidden.
                {% else %}
                    {{ comment|linebreaks }}
                {% endif %}

                {% if user.is_superuser %}
                <p class="text-danger">
                    Superuser buttons only:
                    <a href="{% url 'blog-comment-update' comment.id_slug %}">edit</a>
                </p>
                {% endif %}
            </div>
        {% endfor %}

    {% if user.is_authenticated %}
        <form action="{% url 'blog-comment-create' object.id_slug %}" method="post" class="m-2">
                {% csrf_token %}
            <div>
                <label for="id_comment">Schreibe einen neuen Kommentar:</label>
                <textarea
                        id="id_comment"
                        name="comment"
                        class="form-control"
                        rows="5"
                ></textarea>
            </div>
            <div>
                <input type="submit" class="btn btn-outline-primary mt-3" value="Comment">
            </div>
        </form>
    {% else %}
        <div>Du must eingeloggt sein um zu kommentieren.</div>
    {% endif %}

        {% if user.is_superuser %}
            <!-- Superuser Buttons -->
            <div class="card p-4 m-3" style="border-radius: 20px">
                <h5>Super User Info Only</h5>

                <div>
                    <div class="row">
                        <div class="col-12 col-lg-3">Published?</div>
                        <div class="col-12 col-lg-9">{{ object.publish }}</div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-lg-3">Created</div>
                        <div class="col-12 col-lg-9">{{ object.timestamp_created|date:'d.m.Y' }}</div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-lg-3">Last changed</div>
                        <div class="col-12 col-lg-9">{{ object.timestamp_changed|date:'d.m.Y' }}</div>
                    </div>
                </div>

                <div class="btn-group btn-group-sm mt-3">
                    <a href="{% url 'article-create' %}" class="btn btn-outline-primary">new</a>
                    <a href="{% url 'article-list' %}" class="btn btn-outline-primary">alle beiträge</a>
                    <a href="{% url 'article-update' object.id_slug %}" class="btn btn-outline-primary">update</a>
                  <a href="{% url 'article-delete' object.id_slug %}" class="btn btn-outline-danger">delete</a>
                </div>

            </div>
        {% endif %}

    </div>
{% endblock content %}
