{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <!-- Head -->
        <div class="card p-4 m-3" style="border-radius: 20px">
            <h3>{{ object.title }}</h3>
            Published: {{ object.date|date:"d.m.Y" }}
            Author: The Blog Author  <!-- todo genereate from db -->
        </div>

        <!-- Content -->
        <div class="card p-4 m-3" style="border-radius: 20px">
            {{ object.content|safe }}
        </div>
        <!-- Comments -->

        {% for comment in object.blogcomment_set.all %}
            <div class="card p-4" style="border-radius: 20px">
                {{ comment }}
            </div>
        {% endfor %}

        {% if user.is_superuser %}
            <!-- Superuser Buttons -->

        {% endif %}

    </div>
{% endblock content %}
