<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django Blog Demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'landingpage' %}">The Django Demo Blog</a>
    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>

<!-- Content Area -->
{% block content %} {% endblock content %}

<!-- Footer -->
<div>
    <div class="container pt-4">
        <div class="row">
            <div class="col">
                <div><strong>Blog</strong></div>
                <div><a href="{% url 'landingpage' %}">Home</a></div>
                {% if user.is_authenticated %}
                    <div><a href="{% url 'logout' %}">Logout</a></div>
                {% endif %}
                 {% if user.is_superuser %}
                    <div><strong>Superuser Only</strong></div>
                     <div>
                        <a href="{% url 'article-create' %}">new article</a>
                     </div>
                    <div>
                        <a href="{% url 'article-list' %}">all articles</a></div>
                {% endif %}
            </div>
            <div class="col">
                <div><strong>Top Tags</strong></div>

                <!-- Todo: generate from db -->
                <div><a href="#">Lorem (34)</a></div>
                <div><a href="#">Ipsum (22)</a></div>
                <div><a href="#">Te Dum (9)</a></div>

            </div>
            <div class="col">
                <div><strong>Official</strong></div>
                <div><a href="{% url 'contact' %}">Contact</a></div>
                <div><a href="{% url 'imprint' %}">Imprint</a></div>
                <div><a href="{% url 'privacy' %}">Privacy</a></div>
            </div>
        </div>

        <div class="d-flex justify-content-center">
            Copyright (c) 2021 by ... .....
        </div>

    </div>
</div>

</body>
</html>