{% extends 'blog/base.html' %}
{% load static %}

{% block content %}

    <div class="container p-1">
        {% for article in object_list %}
            <div class="card m-2 p-1">
                <div class="card-head p-3">
                    <a href="{% url 'article-detail' article.id_slug %}"
                        class="h3 text-reset"
                    >
                        {{ article }}
                    </a>
                    , {{ article.date|date:"d.m.Y" }},
                    by {{ article.created_by }}
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
