{% extends 'blog/base.html' %}
{% load static %}

{% block content %}

    <div>

    <form action="
            {% if url %}
                {{ url }}
            {% else %}
                {{ view.model.get_create_url }}
            {% endif %}"
          method="post"
          class="mt-3"
    >
        {% csrf_token %}

            {{ form.non_field_errors }}


                {% for field in form %}
                    <div class="row" id="fieldwrapper_{{ field.id_for_label }}">
                        <div class="col-12 col-lg-2 mt-1" >{{ field.label_tag }} {{ field.errors }}</div>
                        <div class="col-12 col-lg-10 mx-auto mt-1">{{ field }}</div>
                    </div>
                {% endfor %}


                <div><input type="submit" class="btn btn-primary mt-3" value="Save"></div>

    </form>

    </div>

{% endblock %}